Django==6.0.2
razorpay==2.0.1
requests==2.34.2
channels==4.3.2
daphne==4.2.1
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2025.3
pillow==12.1.1
channels_redis==4.3.0
urllib3==2.7.0
charset-normalizer==3.4.7
certifi==2026.5.20
